<div class="profile-component">

<div class="text-center container-fluid">
  <h3 class="card-title">Welcome to my website!</h3>
  <p>Quote of the week</p>
  <p>
    “I have a huge and savage conscience that won't let me get away with things.”

    ― OCTAVIA E. BUTLER</p>


  <img class="img-circle" id = "profile-pic" src="{{this.profilePicSrc}}">

  <br>
  <br>
  <h1>{{this.fullName}}</h1>
  <h2> {{this.occupations[0]}} | {{this.occupations[1]}} | {{this.occupations[2]}} </h2>

<!--  <app-social-media-links></app-social-media-links>-->


  <p>
    I am a PhD candidate currently completing my degree in Social Psychology at Brock
    University, St. Catharines, Ontario, Canada.

    I am proficient in research design, data analysis and interpretation, and scientific dissemination.
    As an intergroup researcher, I have expertise in sexism, including intersections related to race, sexual
    orientation, and gender expression.
  </p>

  <button class="btn btn-primary btn-group-sm"
          id ="my-blog"
          type="submit"
          (click)="submit()">
    My Blog
  </button>


  <button class="btn btn-primary btn-group-sm"
          id ="my-website"
          type="submit"
          (click)="submit()">
    My Website
  </button>


</div>

</div>
